* {
    margin: 0;
    padding: 0;
}

body,
html {
    overflow-x: hidden;
}

main {
    position: relative;
}

body {
    background-color: #F2ECE1;
}

header {
    background-color: #CBB495;
    color: white;

    height: 10vh;

    display: flex;
    align-items: center;
}

footer {
    background-color: rgb(50, 50, 50);
    color: white;

    height: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogo {
    height: 100%;
    width: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo a {
    all: unset;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;

    display: flex;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #553327;
}

.active {
    font-weight: bold;
    font-size: x-large;
    cursor: default;
}

main {
    width: 100%;
    height: 100vh;

    background-color: #F2ECE1;
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
}

main img {
    z-index: 1;
}

.cannon {
    width: 20vw;
    position: absolute;
    bottom: 65vh;
    left: 100px;
}

.kutuzov {
    width: 40vw;
    position: absolute;
    right: 10px;
    bottom: 30px;
}

.ship {
    width: 20vw;
    position: absolute;
    right: 10px;
    bottom: 50vh;
}

.petr {
    height: 50vh;
    position: absolute;
    bottom: 10px;
    left: -40px;
}

.menuButtonsContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.menuButton {
    margin-top: 30px;
    width: 100%;
    height: 10vh;
    border-radius: 2.5vh;
    border-color: #927052;
    background-color: #C9AD87;
    border-style: solid;
    color: #623F26;
    font-size: larger;
    font-family: inherit;
}

.menuButton:hover {
    background-color: #927052;
    border: solid 3px #C9AD87;
    color: #ded5c7;
    cursor: pointer;
}

.menuButton a {
    text-decoration: none;
    color: #623F26;
    font-size: larger;
    font-family: inherit;
}

.menuButton:hover a {
    text-decoration: none;
    color: #ded5c7;
}


.ad {
    width: 20%;
    height: 100%;

    /* background-color: lightblue; */
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.menuButton a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* скрыть Бургер меню для больших экранов */
.burger-menu-icon {
    display: none;
}

.sidebar {
    display: none;
}

/* Mobile-specific styles */
@media (max-width: 768px) {

    /* Отключение рекламы */
    #yandex_rtb_R-A-8609623-2 {
        width: 10vw !important;
    }

    #yandex_rtb_R-A-8609623-1 {
        width: 10vw !important;
    }

    /* Главная страница с кнопками на переходы */
    .menuButtonsContainer {
        margin-top: 5vh;
        width: 70vw;
        z-index: 5;
    }

    .kutuzov {
        width: 80vw;
        right: -15vw;
        bottom: 7vh;
    }

    .petr {
        height: 40vh;
        bottom: 8vh;
        left: -20vw;
    }

    .ship {
        width: 60vw;
        z-index: 1;
        right: -10vw;
        bottom: 45vh;
    }

    .cannon {
        width: 40vw;
        height: auto;
        left: -5vw;
        top: 15vh;
    }

    /* Страница со всеми датами */
    /* Страница с марафоном */
    .ad {
        display: none;
    }

    .testBlock {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        height: fit-content !important;
        padding-bottom: 50px;
    }

    .test-container {
        width: 90% !important;
        min-height: fit-content;
    }

    #question-container {
        min-height: fit-content;
    }

    /* Тест на время */
    #restart-button {
        width: 50vw !important;
    }

    #description-container p {
        font-size: 20px;
    }

    .text {
        font-size: 28px !important;
    }

    .answer-options {
        grid-template-columns: repeat(1, auto) !important;
        grid-row-gap: 10px !important;
    }

    /* Хедер */
    .header-pages-links {
        display: none;
    }

    .headerLogo {
        margin-left: 10vw;
    }

    /* Бургер меню */
    .burger-menu-icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: white;
        transition: right 0.3s ease;
        z-index: 999;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
        width: 80%;
        flex-direction: column;
        margin-top: 10vh;
    }

    .sidebar ul li {
        margin: 20px 0;
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
    }

    .sidebar ul li a {
        text-decoration: none;
        font-size: 24px;
        color: black;
        display: block;
        text-align: center;
        width: 80vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 70px;
        cursor: pointer;
        color: black;
    }
}